@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --primary: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-lightGrey: hsl(217, 12%, 63%);
    --neutral-darkBlue: hsl(213, 19%, 18%);
    --neutral-veryDarkBlue: hsl(216, 12%, 8%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.thanks.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.illustration{
    width: 100%;
    max-width: 200px;
}

.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-size: 1.1rem;
    width: 50%;
    height: 2.5rem;
    background-color: hsla(216, 12%, 54%, 0.144);
    border-radius: 2rem;
}

.thanks-title{
    color: var(--neutral-white);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 1.3rem;
}

.thanks-description{
    color: var(--neutral-lightGrey);
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5rem;
    
}

.card{
    width: 100%;
    height: 100%;
    max-height: 390px;
    max-width: 410px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.041) , var(--neutral-darkBlue));
    padding: 2.5rem;
    border-radius: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.icon{
    width: 100%;
    max-width: 20px;
    background-color: hsla(216, 12%, 54%, 0.144);
    padding: 1rem;
    border-radius: 50%;
}

.title{
    margin-top: 0;
    color: hsl(0, 0%, 100%);
}

.title-description{
    margin: 0;
    color: hsl(217, 12%, 63%);
    line-height: 1.6rem;
}

.numbers{
    align-self: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.avaliation{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-lightGrey);
    width: 3.7rem;
    height: 3.7em;
    background-color: hsla(216, 12%, 54%, 0.144);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.avaliation:hover{
    background-color: var(--primary);
    color: var(--neutral-white);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-white);
    background-color: var(--primary);
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: var(--neutral-white);
    color: var(--primary);
}

.selected{
    background-color: var(--neutral-lightGrey) !important;
    color: var(--neutral-white);
}